<div class="login-card">
  <div class="login-card-header">
    <h1>{{ formTitle }}</h1>
  </div>
  <form [formGroup]="form" formType="" class="login-card-form">
    <div class="form-item">
      <input
        type="text"
        placeholder="Email"
        formControlName="email"
        id="emailForm"
        autofocus
      />
    </div>
    <div class="form-item">
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        id="passwordForm"
      />
    </div>

    <app-button
      location="two"
      text="Submit"
      (btnClick)="handleSubmit()"
    ></app-button>
  </form>
</div>
