<div class="flex-col mt-8 pd-2">
  <div class="row fr-c">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 img-col">
      <img
        src="../../../assets/images/bali-arial.jpg"
        alt="arial view"
        class="home-img"
      />
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 img-col">
      <img
        src="../../../assets/images/bali-ocean.jpg"
        alt="arial view"
        class="home-img"
      />
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 img-col">
      <img
        src="../../../assets/images/bali-dining.jpg"
        alt="arial view"
        class="home-img"
      />
    </div>
  </div>

  <div class="row fr-c">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 img-col">
      <img
        src="../../../assets/images/bali-luxury.jpg"
        alt="arial view"
        class="home-img"
      />
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 img-col">
      <img
        src="../../../assets/images/bali-view.jpg"
        alt="arial view"
        class="home-img"
      />
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 img-col">
      <img
        src="../../../assets/images/bali-pool.jpg"
        alt="arial view"
        class="home-img"
      />
    </div>
  </div>
</div>
